In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df=pd.read_csv('task2.csv')
df.head()

,ID,Segment type,Segment Description,Answer,Count,Percentage,It became a relationship
0,292890.8970,web,"Meridian, Idaho",No,0.000000,0.000000,0
1,292887.9870,web,"Meridian, Idaho",No,0.000000,0.000000,0
2,292894.0656,gender,"Meridian, Idaho",No,499.173606,0.225255,0
3,292887.1180,web,"Meridian, Idaho",No,0.000000,0.000000,0
4,292893.6561,gender,"Meridian, Idaho",No,455.925963,0.211360,0

In [3]:
df.isna().sum()

ID                          0
Segment type                0
Segment Description         0
Answer                      0
Count                       0
Percentage                  0
It became a relationship    0
dtype: int64

In [4]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df['Segment type']=le.fit_transform(df['Segment type'])
df['Segment Description']=le.fit_transform(df['Segment Description'])
df['Answer']=le.fit_transform(df['Answer'])
df.head()

,ID,Segment type,Segment Description,Answer,Count,Percentage,It became a relationship
0,292890.8970,3,46,1,0.000000,0.000000,0
1,292887.9870,3,46,1,0.000000,0.000000,0
2,292894.0656,0,46,1,499.173606,0.225255,0
3,292887.1180,3,46,1,0.000000,0.000000,0
4,292893.6561,0,46,1,455.925963,0.211360,0

In [5]:
df.drop('ID',axis=1,inplace=True)
df_train=df.drop('It became a relationship',axis=1)

In [6]:
from sklearn.preprocessing import StandardScaler
std=StandardScaler()
df_train=std.fit_transform(df_train)

In [7]:
x=pd.DataFrame(df_train,columns=['st','sd','answer','count','pr'])
y=df['It became a relationship']

In [8]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.8)

In [9]:
from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier(criterion='entropy',n_estimators=100)
model.fit(x_train,y_train)
model.score(x_test,y_test)

0.881578947368421

In [10]:
from sklearn.svm import SVC
model=SVC()
model.fit(x_train,y_train)
model.score(x_test,y_test)

0.85